/* header */
.header{
    background: url("../images/backgrounds/h_img.jpg");
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.header #logo{
    
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    height: 50px;  
    display: block;
    
}

.header #mouse{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header #text{
    margin-top: 30px;
    padding-top: 3px;
    padding-bottom: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 60px;
    font-size-adjust: auto;
}

.header #text-center{
    color: #ffffff;
    font-family: sans-serif;

}

.header #mouse{
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;

}


/* About us section */

.about #us{
    text-align: center;
    padding: 30px;
    line-height: 32px;
}

#us{
    margin-top: 30px;
}

.about p{
    margin-bottom: 30px;
    line-height: 32px;
}

/* services */

.services {
    text-align: center;
    background: url("../images/backgrounds/s_image.jpg");
    padding: 60px;
    color: #ffffff;
    height: 450px;
    height: auto;
    width: auto;
    
}

.services p{
    margin-top: 32px;
    padding-top: 10px;
    line-height: 30px;
    font-size: 20px;
}

.services h1 {
    margin-top: 60px;
    padding-top: 80px;

}
/* what we do */

.text{
    text-align: center;
}

#show,#show2,#show3{
    display: none;
}
h4 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

/* portfolio */

.portfolio {
    text-align: center;

}

.row{
    justify-content: space-evenly;
    margin-bottom: 5px;
}

#sudo,#sudo2,#sudo3,#sudo4,#sudo5,#sudo6,#sudo7,#sudo8{
    display: none;
    font-size: 36px;
    color: #ffffff;
    width: 100%;
    height: 100%%;
    position:absolute;
    top: 20px;
    left: 35px;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: 'Delius Swash Caps', cursive;
  }

/* contact */

.contact{
    background-image: url("../images/backgrounds/c_image.jpg");
    background: cover;
    margin-top: 30px;
    text-align: center;
}

.contact h5{
    color: #ffffff;
    font-family: sans-serif;
    font-size: large;
    margin-top: 10px;
}

.contact input{
    margin: auto;
    padding: auto;
    height: 30px;

}
 
.contact input #email{
    margin-right: 3px;
}

/* social */

.social{
    margin-top: 30px;
}

/* footer */

footer{
    text-align: center;
}
